input.overview-location {
  width: 100%;
  padding: 0;
  color: $textLight;
  background-color: transparent;
  border: 1px solid transparent;
  outline: none;
  transition: 0.4s;
  &:hover {
    cursor: pointer;
  }

  &:hover,
  &:focus {
    background-color: rgba(0, 0, 0, 0.4);
  }

  &::placeholder {
    color: $placeholder;
  }
}

input[type="radio"] {
  cursor: pointer;
  display: inline-block;
  margin-right: 1.6rem;
  width: 2.5rem;
  height: 2.5rem;
}

label {
  cursor: pointer;
  display: inline-block;
}

@media (max-width: 420px) {
  input.overview-location {
    font-size: 2.4rem;
  }
}

@media (max-height: 420px) {
  input.overview-location {
    font-size: 2.4rem;
  }
}
