footer {
  background-color: $bgDark;
  .container {
    font-size: $textFooter;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: $textLight2;
  }

  a {
    color: $textLight2;
    text-decoration: underline;
  }
}
