button {
  border: none;
  font-size: 1.6rem;
  font-weight: 500;
  color: $text-color-light;
  outline: none;
  cursor: pointer;
  transition: color 0.4s ease;
}
button:hover {
  color: $text-color-bright;
}
