input.overview-location {
  width: 100%;
  padding: 0;
  color: $textLight;
  background-color: transparent;
  border: none;
  outline: none;

  &:focus {
    border: 1px solid #fff;
  }
}

input[type="radio"] {
  margin-right: 1rem;
}

::placeholder {
  color: $placeholder;
}

@media (max-width: 420px) {
  input {
    font-size: 2.4rem;
  }
}

@media (max-height: 420px) {
  input {
    font-size: 2.4rem;
  }
}
