// Reset
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

// Global
body {
  font-size: 1.6rem;
  color: $textDark2;
  width: 100%;

  @media (max-width: 420px) {
    font-size: 1.4rem;
  }
  @media (max-height: 420px) {
    font-size: 1.4rem;
  }
}

nav,
.message,
footer {
  padding: 1rem $desktop;

  @media (max-width: 768px) {
    padding: 1rem $tablet;
  }
  @media (max-width: 420px) {
    padding: 1rem $mobile;
  }
  @media (max-height: 420px) {
    padding: 1rem $mobile;
  }
}

header,
section {
  padding: 4.8rem $desktop;

  @media (max-width: 768px) {
    padding: 4.8rem $tablet;
  }
  @media (max-width: 420px) {
    padding: $mobile;
  }
  @media (max-height: 420px) {
    padding: $mobile;
  }
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: $maxWidth;
}
