// Reset
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

// Global
body {
  font-size: $textBase;
  color: $textDark2;
  width: 100%;
}

nav,
.message,
footer {
  padding: 1rem $desktop;

  @media (max-width: 768px) {
    padding: 1rem $tablet;
  }
  @media (max-width: 420px) {
    padding: 1rem $mobile;
  }
}

header,
section {
  padding: 4rem $desktop;

  @media (max-width: 768px) {
    padding: 4rem $tablet;
  }
  @media (max-width: 420px) {
    padding: 2rem $mobile;
  }
}

.container {
  width: 100%;
  max-width: 1800px;
}

.time-date,
.date {
  padding: 1rem 0;
}
