// Reset
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

// Global
body {
  font-size: $font-size-medium;
  color: $text-color-light;
  width: 100%;
}

header,
main,
footer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.container {
  width: 100%;
  max-width: 1800px;
  padding: 2rem 1.6rem;
}
