.days {
  background-color: $bgDark;
  color: $textLight;
  .container {
    .links {
      margin-top: 1rem;
      > *:not(:last-child) {
        margin-right: 1.6rem;
      }

      .day {
        font-size: 1.8rem;
        font-weight: 500;
        cursor: pointer;

        &.active {
          color: $primary;
        }
      }
    }

    .times-and-dates {
      display: block;
      // margin-top: 1rem;
      color: $textLight3;
      font-weight: 400;
    }
  }
}
