footer {
  background-color: $bgDark;
  .container {
    font-size: $textFooter;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: $textLight2;
  }
  p {
    font-weight: 400;
  }
  a {
    text-decoration: underline;
  }
}
