.hourly-weather-slider {
  justify-self: flex-end;
  max-width: 100%;
  overflow-x: auto;
  user-select: none;
  background-color: transparent;

  &::-webkit-scrollbar {
    display: none;
  }

  .items {
    margin-top: 3rem;
    position: relative;
    top: 0;
    left: 0;
    width: max-content;
    display: flex;
    cursor: grab;

    > *:not(:last-child) {
      margin-right: 2rem;
    }

    .item-card {
      display: flex;
      flex-direction: column;
      align-items: center;

      > *:not(:last-child) {
        margin-bottom: 1rem;
      }

      .volume {
        color: $primary;
      }

      img {
        width: 6.4rem;
        height: 6.4rem;
      }

      .icon {
        &.droplet {
          padding: 0 1rem;
        }
        &.wind {
          padding: 0 1.5rem;
        }
      }

      .droplet-icon {
        width: 4.4rem;
        height: 4.4rem;
        path {
          stroke-width: 10px;
        }
        .st0 {
          stroke: #929497;
          fill: none;
        }
        .st1 {
          fill: $bgLight;
        }
        .st2 {
          stroke: $primary;
          fill: $primary;
        }
      }

      .wind-icon {
        width: 3.4rem;
        height: 3.4rem;
        fill: $primary;
      }
    }
  }
}

p {
  span {
    margin: 0 0.5rem;
  }
}

.daily-total {
  margin-top: 3rem;
}
