.hourly-weather-slider {
  justify-self: flex-end;
  max-width: 100%;
  overflow-x: auto;
  user-select: none;
  background-color: transparent;

  &::-webkit-scrollbar {
    display: none;
  }

  .items {
    margin-top: 3rem;
    position: relative;
    top: 0;
    left: 0;
    width: max-content;
    display: flex;
    cursor: grab;
    > *:not(:last-child) {
      margin-right: 2rem;
    }

    .item-card {
      display: flex;
      flex-direction: column;
      align-items: center;

      > *:not(:last-child) {
        margin-bottom: 0.5rem;
      }

      .volume {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1.4rem;
        line-height: 1;
        color: $primary;
      }

      img {
        width: 6.4rem;
        height: 6.4rem;
      }

      .droplet {
        overflow: hidden;
        width: 6.4rem;
        height: 6.4rem;
        path {
          stroke-width: 6px;
        }
        .st0 {
          stroke: #333333;
          fill: none;
        }
        .st1 {
          fill: $bgLight2;
        }
        .st2 {
          stroke: $primary;
          fill: $primary;
        }
      }
    }
  }
}

.droplet {
  width: 250px;
  height: 250px;
  .st0 {
    stroke: $textDark;
    fill: none;
  }
  .st1 {
    fill: $bgLight3;
  }
  .st2 {
    stroke: $primary;
    fill: $primary;
  }
}
