.hourly-weather-slider {
  justify-self: flex-end;
  max-width: 100%;
  overflow-x: auto;
  user-select: none;
  background-color: transparent;

  &::-webkit-scrollbar {
    display: none;
  }

  .hours {
    margin-top: 3rem;
    position: relative;
    top: 0;
    left: 0;
    width: max-content;
    display: flex;
    cursor: grab;
    > *:not(:last-child) {
      margin-right: 2rem;
    }

    .hour-card {
      display: flex;
      flex-direction: column;
      align-items: center;

      > *:not(:last-child) {
        margin-bottom: 0.5rem;
      }

      img {
        width: 6.4rem;
        height: 6.4rem;
      }
    }
  }
}
