.loader {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .spinner {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    border: 4px solid transparent;
    border-color: transparent $textDark;
    animation: spin 1s forwards infinite linear;
  }

  .loader-text {
    margin-top: 2rem;
    color: $textDark2;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
