.message {
  position: fixed;
  bottom: -30rem;
  left: 2rem;
  width: 100%;
  max-width: max-content;
  padding: 4rem;
  color: $textDark2;
  background-color: rgba($bgLight, 0.9);
  z-index: 9;
  transition: 1s;

  &.active {
    bottom: 2rem;
  }

  h3 {
    margin-bottom: 1rem;
    text-transform: capitalize;
  }
  p {
  }
  .btn {
    margin-top: 3rem;
  }
}
