.message {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  color: $textDark2;
  background-color: $bgLight;
  z-index: 9;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    svg {
      flex-shrink: 0;
      width: 24px;
      height: 24px;
    }
  }
}
