.overview {
  margin-top: 8rem;
  padding: 2rem;
  width: 100%;
  max-width: 60rem;
  height: max-content;
  text-align: center;
  color: $textLight;

  &-min-max-temp {
    display: flex;
    justify-content: center;
    div {
      padding: 0 1rem;
    }
    span {
      margin-left: 0.5rem;
    }
  }

  @media (max-height: 420px) {
    margin-top: 4rem;
  }
}
