.overview {
  // @include glass;
  margin-top: 8rem;
  padding: 2rem;
  width: 100%;
  max-width: 60rem;
  height: max-content;
  text-align: center;
  color: $textLight;

  .location {
    text-transform: capitalize;
  }

  .time-date,
  .region,
  .min-max-temp {
    font-size: 1.6rem;
    font-weight: 500;
    letter-spacing: 1px;
  }
}
