.overview {
  margin-top: 8rem;
  padding: 2rem;
  width: 100%;
  max-width: 60rem;
  height: max-content;
  text-align: center;
  color: $textLight;

  @media (max-height: 420px) {
    margin-top: 4rem;
  }
}
