section.settings {
  min-height: 100vh;

  .container {
    margin-top: 5rem;

    .setting {
      margin-top: 0.2rem;
      background-color: $bgLight;
      padding: 2rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;

      &-content {
        display: flex;
        align-items: center;
      }

      &-icon {
        margin-right: 1.6rem;
        height: 5rem;
        display: flex;
        justify-content: start;
        align-items: start;

        svg {
          width: 2.5rem;
          height: 2.5rem;
        }
      }

      &-text {
        p {
          color: $primary;
        }
      }

      .status {
        transform: rotate(0);
        transition: 0.4s;
      }

      &.active {
        .status {
          transform: rotate(180deg);
        }
      }
    }

    .setting-options {
      background-color: $bgLight;
      padding: 0 2rem;

      .option {
        padding: 2rem 0;
        border-top: 1px solid $bgLight2;

        .radio-button {
          display: flex;
          align-items: center;
        }
      }
    }
  }
}
